/* google font */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Cairo:wght@200..1000&family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+CO+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Tsukimi+Rounded&family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f4e8df;
  font-family: "Poppins", sans-serif;
}

.container {
  background-color: white;
  max-width: 700px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.header-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 700;
}

.description {
  color: #555;
  margin-bottom: 30px;
}

.prep-time {
  background-color: #fef1f7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.prep-time h3 {
  margin-top: 0;
  color: hsl(332, 51%, 32%);
}

.prep-time li {
  padding: 10px;
}

ul,
ol {
  padding: 20px;
  padding-left: 20px;
  margin-bottom: 30px;
}

h2 {
  color: hsl(332, 51%, 32%);
}
.ingredients li,
.instructions li {
  margin-bottom: 10px;
  padding: 5px;
}

.instructions li strong {
  color: #5e2b1b;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
}

.nutrition-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
